*{
    background-color: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    color: #F2F2F2;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

section{
    float: left;
}

section div{
    margin: 10px;
    border: 3px solid black;
    border-radius: 4px;
    max-height: 230px;
}


h1{
    font-size: 2em;
    background-color: #A2A62E;
    border: 3px solid #332F40;
    padding: 10px;
    color: #332F40;
}

h2{
    border: 5px solid #332F40;
    margin: 0px 0px 0px auto;
    text-align: right;
    width: fit-content;
    padding: 5px 10px;
    background-color: #332F40;
    font-size: 1.5em;
}

#title-section{
    padding: 0 0 20px 0;
    text-align: center;
}

#section1{
    background-color: #F29441;
}
#section2{
    background-color: #D95D30;
}
#section3{
    background-color: #8C2B2B;
}

p{
    background-color: inherit;
    width: 90%;
    margin: 10px auto;
}


@media (min-width: 992px){
    .col-lg-1{
        width: 8.33%;
    }
    .col-lg-2{
        width: 16.66%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-4{
        width: 33%;
    }
    .col-lg-5{
        width: 41.66%;
    }
    .col-lg-6{
        width: 50%;
    }
    .col-lg-7{
        width: 58.33%;
    }
    .col-lg-8{
        width: 66.6%;
    }
    .col-lg-9{
        width: 74.99%
    }
    .col-lg-10{
        width: 83.33%;
    }
    .col-lg-11{
        width: 91.66%;
    }
    .col-lg-12{
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .col-m-1{
        width: 8.33%;
    }
    .col-m-2{
        width: 16.66%;
    }
    .col-m-3{
        width: 25%;
    }
    .col-m-4{
        width: 33%;
    }
    .col-m-5{
        width: 41.66%;
    }
    .col-m-6{
        width: 50%;
    }
    .col-m-7{
        width: 58.33%;
    }
    .col-m-8{
        width: 66.6%;
    }
    .col-m-9{
        width: 74.99%
    }
    .col-m-10{
        width: 83.33%;
    }
    .col-m-11{
        width: 91.66%;
    }
    .col-m-12{
        width: 100%;
    }
}

@media (max-width: 767px){
    .col-s-1{
        width: 8.33%;
    }
    .col-s-2{
        width: 16.66%;
    }
    .col-s-3{
        width: 25%;
    }
    .col-s-4{
        width: 33%;
    }
    .col-s-5{
        width: 41.66%;
    }
    .col-s-6{
        width: 50%;
    }
    .col-s-7{
        width: 58.33%;
    }
    .col-s-8{
        width: 66.6%;
    }
    .col-s-9{
        width: 74.99%
    }
    .col-s-10{
        width: 83.33%;
    }
    .col-s-11{
        width: 91.66%;
    }
    .col-s-12{
        width: 100%;
    }
}